body {
    background-color: royalblue;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(17, 7, 24);
    width: 100%;
    overflow: hidden;
    position: sticky;
    top: 0;
}
nav .cont {
    width: 80%;
    margin: auto;
}
.navl {
    font-size: 29px;
    color: blanchedalmond;
    float: left;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navm {
    float: right;
}
.navm ul li{
    list-style: none;
    float: left;
}
.navm ul li a{
    text-decoration: none;
    color: blanchedalmond;
    display: block;
    padding: 10px;
}
.navm ul li a:hover{
    background-color: blanchedalmond;
    color: black;
}

span{
    color: darkmagenta;
}
@media (max-width:750px){
    nav .cont {
        width: 85%;
    }
    .navl{
        font-size: 25px;
        margin-top: 5px;
    }
}
@media (max-width:600px){
    nav .cont {
        width: 90%;
    }
    .navl{
        font-size: 23px;
        margin-top: 5px;
    }
}
.about {
    height: 1500px;
    width: 100%;
    background-color: cornflowerblue;
}