body {
    background-color: royalblue;
    margin: 0;
    padding: 0;
}
.div0 , .div4{
    width: 100%; 
    overflow: hidden;
}
.div0{
    background-color: salmon;
    padding: 15px 0;
}
.div4{
    background-color:orchid;
    height: 150px;
}
.div0 .div00 {
    background-color: gray;
    width: 70%;
    margin: auto;
    overflow: hidden;
}
.div0 .div00 div {
    background-color: lightseagreen;
    margin: 2px 0;
    margin-left: 7.5%;
    width: 150px;
    height:120px;
    float: left;  
}